body {
    width: fit-content;
}

.center-text {
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.labeled-checkbox {
    display: flex;
    align-items: center;
}

#volume-slider {
    width: 15rem;
}