body {
    width: fit-content;
    background-color: #242424;
    color: #fcfcfc;
    font-weight: bold;
    text-align: center;
}

input[type="range"] {
    accent-color: #c2c2c2;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #4b4b4b;
    border-radius: 0.5rem;
    margin-top: 0.15rem;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options {
    display: flex;
    gap: 1rem;
}

.labeled-input {
    display: flex;
    align-items: center;
}

.setter-label {
    font-size: 0.85rem;
}

.checkbox-button {
    margin-top: 0.7rem;
}

.checkbox-button input[type="checkbox"] {
    display: none;
}

.checkbox-button svg {
    height: 1.3rem;
    margin-right: 0.25rem;
    padding: 0.2rem;
    border: 0.1rem solid;
    border-radius: 0.5rem;
}

.checkbox-button input[type="checkbox"]:checked + svg {
    background-color: #585858;
}

#volume-slider {
    width: 15rem;
    margin-right: 0.3rem;
}

#volume {
    margin-top: 0.21rem;
    width: 2rem;
}